.elementor-2581 .elementor-element.elementor-element-2fab07a>.elementor-container {
    max-width: 1600px;
    min-height: 50vh;
}

.elementor-2581 .elementor-element.elementor-element-2fab07a .elementor-repeater-item-738bf7a.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-bc-flex-widget .elementor-2581 .elementor-element.elementor-element-d74a88d.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2581 .elementor-element.elementor-element-d74a88d.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2581 .elementor-element.elementor-element-d74a88d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 80px 80px 80px 75px;
}

.elementor-2581 .elementor-element.elementor-element-7393b3f .elementor-button .elementor-align-icon-right {
    margin-left: 14px;
}

.elementor-2581 .elementor-element.elementor-element-7393b3f .elementor-button .elementor-align-icon-left {
    margin-right: 14px;
}

.elementor-2581 .elementor-element.elementor-element-5418e86>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2581 .elementor-element.elementor-element-5418e86:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-2581 .elementor-element.elementor-element-5418e86>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../e67bccea-fffa-4b14-beb2-2bbe0e2b720f-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2581 .elementor-element.elementor-element-5418e86>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2581 .elementor-element.elementor-element-5418e86>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2581 .elementor-element.elementor-element-5418e86>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

/* new untechcoverd image */
.elementor-2581 .elementor-element.elementor-element-5418e8newi>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2581 .elementor-element.elementor-element-5418e8newi:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-2581 .elementor-element.elementor-element-5418e8newi>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../03d3cb29-c6ff-4cd9-a760-fd153b35fb97.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2581 .elementor-element.elementor-element-5418e8newi>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2581 .elementor-element.elementor-element-5418e8newi>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2581 .elementor-element.elementor-element-5418e8newi>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
/* new untechcoverd image end */

.elementor-2581 .elementor-element.elementor-element-cd2c8d3 {
    --spacer-size: 50vh;
}

.elementor-2581 .elementor-element.elementor-element-a0e93a8 img {
    width: 12px;
}

.elementor-2581 .elementor-element.elementor-element-a0e93a8 {
    width: var(--container-widget-width, 12px);
    max-width: 12px;
    --container-widget-width: 12px;
    --container-widget-flex-grow: 0;
    top: 40px;
}

body:not(.rtl) .elementor-2581 .elementor-element.elementor-element-a0e93a8 {
    left: -40px;
}

body.rtl .elementor-2581 .elementor-element.elementor-element-a0e93a8 {
    right: -40px;
}

.elementor-2581 .elementor-element.elementor-element-0afdb3a img {
    width: 12px;
}

.elementor-2581 .elementor-element.elementor-element-0afdb3a {
    width: var(--container-widget-width, 12px);
    max-width: 12px;
    --container-widget-width: 12px;
    --container-widget-flex-grow: 0;
    top: 80px;
}

body:not(.rtl) .elementor-2581 .elementor-element.elementor-element-0afdb3a {
    left: -40px;
}

body.rtl .elementor-2581 .elementor-element.elementor-element-0afdb3a {
    right: -40px;
}

.elementor-2581 .elementor-element.elementor-element-4a0a988 img {
    width: 12px;
}

.elementor-2581 .elementor-element.elementor-element-4a0a988 {
    width: var(--container-widget-width, 12px);
    max-width: 12px;
    --container-widget-width: 12px;
    --container-widget-flex-grow: 0;
    top: 120px;
}

body:not(.rtl) .elementor-2581 .elementor-element.elementor-element-4a0a988 {
    left: -40px;
}

body.rtl .elementor-2581 .elementor-element.elementor-element-4a0a988 {
    right: -40px;
}

.elementor-2581 .elementor-element.elementor-element-2fab07a:not(.elementor-motion-effects-element-type-background),
.elementor-2581 .elementor-element.elementor-element-2fab07a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-9459d45);
}

.elementor-2581 .elementor-element.elementor-element-2fab07a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2581 .elementor-element.elementor-element-2fab07a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2581 .elementor-element.elementor-element-783dbce .elementor-repeater-item-8d58c69.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-2581 .elementor-element.elementor-element-dfb6b96>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2581 .elementor-element.elementor-element-a07a557 {
    --grid-column-gap: 14px;
    --grid-row-gap: 14px;
}

.elementor-2581 .elementor-element.elementor-element-a07a557>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-2581 .elementor-element.elementor-element-783dbce {
    margin-top: 60px;
    margin-bottom: 80px;
}

@media(max-width:1024px) {
    .elementor-2581 .elementor-element.elementor-element-d74a88d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 30px 30px 30px 30px;
    }

    .elementor-2581 .elementor-element.elementor-element-783dbce {
        padding: 0px 30px 0px 30px;
    }
}

@media(max-width:767px) {
    .elementor-2581 .elementor-element.elementor-element-cd2c8d3 {
        --spacer-size: 40vh;
    }
}